* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;

	font-size: clamp(1rem, 0.5vw + 0.5rem, 1.5vw);
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: var(--primary-color);

	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-container {
	width: clamp(450px, 35%, 50%);
	height: clamp(0px, 100%, 100%);

	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	width: 100%;

	background-color: var(--tertiary-color);
	/* padding: 30px 30px 20px 30px; */

	display: flex;
	flex-direction: column;

	overflow: hidden; /* ?????? */
}

#title {
	background-color: var(--white-color);
	box-shadow: var(--box-shadow);
	padding: 10px 20px;
	text-align: center;
	z-index: 1;

	font-size: 2rem;
}

.chat-box {
	/* flex: 400px; */
	height: 100%; /* ?????? */

	overflow: auto;
	margin-block: 20px;
	padding-inline: 20px;
}

.input-buttons {
	/* margin: 30px 20px 10px 20px; */
	margin: 0 20px 10px 20px;
	box-shadow: var(--box-shadow);

	display: flex;
	align-items: center;

	border: 2px solid var(--secondary-color);
	border-radius: var(--input-button-radius);
}

.input-buttons > :nth-child(1) {
	width: 100%;
	padding: 15px 15px;

	color: var(--secondary-color);
	border-radius: var(--input-button-radius-left);
}
.input-buttons > :nth-child(1)::placeholder {
	color: var(--quaternary-color);
}
.input-buttons > :nth-child(1):focus::placeholder {
	color: transparent;
}

.input-buttons > :nth-child(2) {
	width: 100px;
	height: 100%;

	color: var(--quaternary-color);
	background-color: var(--white-color);
	cursor: pointer;

	border-radius: var(--input-button-radius-right);

	display: grid;
	place-content: center;
}

.input-buttons > :nth-child(2):hover,
.input-buttons > :nth-child(2):focus {
	color: var(--secondary-color);
}

.input-buttons > :nth-child(2):active {
	color: var(--tertiary-color);
}

.user-message {
	color: rgb(255, 255, 255);
	background-color: var(--secondary-color);
	margin-left: auto;
}

.bot-message {
	color: black;
	background-color: #ffffff;
	margin-right: auto;
}

.message {
	padding: 10px 15px;
	width: fit-content;

	box-shadow: var(--box-shadow);
	border-radius: 10px;
	word-break: break-all;
	/* overflow-wrap: break-word; */
	margin-bottom: 10px;
}

.disabled {
	/* pointer-events: none; */
	/* cursor: not-allowed; */
	background-color: white;
}

.dimlight.true {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.119);

	position: absolute;
	top: 0;
	left: 0;
}
